<% const bgColorMap = {
  red: 'bg-red-500',
  green: 'bg-green-500',
  blue: 'bg-blue-500',
  orange: 'bg-orange-500',
  purple: 'bg-purple-500' ,
  yellow: 'bg-yellow-500',
  white: 'bg-white'
}; %>

<% const panelColorMap = {
  red: 'bg-red-500',
  green: 'bg-green-500',
  blue: 'bg-blue-500',
  oragnge: 'bg-orange-500',
  purple: 'bg-purple-500' ,
  yellow: 'bg-yellow-500',
  white: 'bg-white' 
}; %>

<% const textColorMap = {
  red: 'text-red-500',
  green: 'text-green-500',
  blue: 'text-blue-500',
  oragnge: 'text-orange-500',
  purple: 'text-purple-500' ,
  yellow: 'text-yellow-500' ,
  white: 'text-white'
}; %>

<div class="w-full flex items-start px-20 py-20">
    <div class="w-[100%] flex flex-col gap-5 h-screen">
        <div class="flex items-start gap-5 flex-wrap">
            <% products.forEach(function(product){ %>
                <div class="w-60">
                    <div class="w-full h-52 flex items-center justify-center <%= bgColorMap[product.bgcolor] %>">
                    </div>
                    <div
                        class="flex justify-between <%= panelColorMap[product.panelcolor] %> items-center px-4 py-4 <%= textColorMap[product.textcolor] %>">
                        <div>
                            <h3>
                                <%= product.name %>
                            </h3>
                            <h4>₹ <%= product.price %>
                            </h4>
                        </div>
                        <a class="w-7 h-7 flex items-center justify-center rounded-full bg-white" href="">
                            <i class="fas fa-solid fa-plus <%= textColorMap[product.panelcolor] %>"></i>
                        </a>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
</div>